.home-greeting {
    font-size: clamp(15px, 2vw, 18px);
}

.home-heading {
    margin: 0px;
    font-size: clamp(30px, 8vw, 100px);
}

.home-description {
    margin: 20px 0px 40px 0px;
    font-size: clamp(15px, 2vw, 18px);
}