#desktop-navigation-bar {
    background: white;
    font-size: clamp(15px, 2vw, 18px);
    padding: 40px;
}

#mobile-navigation-bar {
    background: white;
    font-size: clamp(15px, 2vw, 18px);
    padding: 20px;
}

@media screen and (max-width: 480px) {
    #desktop-navigation-bar {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    #mobile-navigation-bar {
        display: none;
        position: fixed;
    }
}